.map__container {
  margin: 0 auto;
  margin-top: 1.5rem;
  // border: 1px solid dodgerblue;
  height: 500px;
  width: 700px;
  padding: 0;
  position: relative;
  // border: 1px solid dodgerblue;
}

.map__overlay__layer {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  // border: 1px solid red;
}

.img__item {
  cursor: inherit;
}

.map__resizeable__container {
  width: fit-content;
}
